name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install
        run: |
          uv sync --all-extras --dev

      - name: Lint
        run: ruff check .

      - name: Tests
        run: uv run pytest -q
